<div class="whole-page secondary-background primary">
  <div class="initial-title hidden">
    <div class="initial-block">
      <h1 class="initial-title-name underline">Alek Pialucha</h1>
      <h4 class="initial-title-subtitle">Portfolio</h4>
    </div>
  </div>
  <div class="main-page">
    <div class="toggle-block">
      <p id="light" class="text-toggle">LIGHT</p>
      <p class="text-toggle">|</p>
      <p id="dark" class="text-toggle current-toggle">DARK</p>
    </div>
    <div class="main-page-container primary-border">
      <div class="banner">
        <div class="name-container">
          <h1 class="main-page-name">Alek Pialucha</h1>
          <h4 class="main-page-subtitle">Full Stack Developer</h4>
        </div>
        <div class="banner-links">
          <a class="underline primary" href="mailto: pialuchaa@btinternet.com">Contact</a>
          <br>
          <p id="cv" class="underline">Full CV</p>
        </div>
      </div>
      <div class="bio">
        <h2>BIO</h2>
        <p>Previously working in architecture, pivoting into the tech industry, leveraging a strong foundation in design and problem-solving. Thriving under strict deadlines and driven by client-specific requests, I have honed my ability to deliver exceptional results while maintaining a strong attention to detail. Passionate about coding, I started on a self-taught journey and recently completed a 9 week intensive coding bootcamp to further enhance my technical skills.</p>
      </div>
    </div>
    <div class="projects-container primary-border">
      <h2>PROJECTS</h2>
      <div class="project-card primary-border">
        <h3 class="underline">BarHop</h3>
        <h6>Le Wagon, 2023</h6>
      </div>
      <div class="project-card primary-border">
        <h3 class="underline">Render</h3>
        <h6>Le Wagon, 2023</h6>
      </div>
    </div>
  </div>
</div>
