<div class="whole-page">
  <div class="initial-title hidden">
    <div class="initial-block">
      <h1 class="initial-title-name underline">Alek Pialucha</h1>
      <h4 class="initial-title-subtitle">Portfolio</h4>
    </div>
  </div>
  <div class="main-page">
  <div class="toggle-block">
    <p class="text-toggle">LIGHT</p>
    <p class="text-toggle">|</p>
    <p class="text-toggle current-toggle">DARK</p>
  </div>
    <div class="main-page-container">
      <div class="banner">
        <div class="name-container">
          <h1 class="main-page-name">Alek Pialucha</h1>
          <h4 class="main-page-subtitle">Full Stack Developer</h4>
        </div>
      </div>
      <div class="projects-container">
        <h2>Projects</h2>
        <div class="project-card">
          <h3>BarHop</h3>
          <h6>Le Wagon, 2023</h6>
        </div>
        <div class="project-card">
          <h3>Render</h3>
          <h6>Le Wagon, 2023</h6>
        </div>
      </div>
    </div>
  </div>
</div>
