<div class="whole-page">
  <div class="initial-title hidden">
    <div class="initial-block">
      <h1 class="initial-title-name underline">Alek Pialucha</h1>
      <h4 class="initial-title-subtitle">Portfolio</h4>
    </div>
  </div>
  <div class="main-page">
    <div class="banner">
      <div class="name-container">
        <h1 class="main-page-name">Alek Pialucha</h1>
        <h4 class="main-page-subtitle">Full Stack Developer</h4>
      </div>
      <div class="light-dark-toggle">
        <i class="uil uil-moon toggle-icon"></i>
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
        <i class="uil uil-sun toggle-icon"></i>
      </div>
    </div>
  </div>
</div>
