.toggle-block {
  text-align: end;
  p {
    margin: 0.1em;
  }
}

.toggle-icon {
  font-size: 1.5em;
  margin: 0 5px;
}

.text-toggle{
  display: inline-block;
}

.current-toggle {
  font-weight: 700;
}
